<h1>{{leader.party}}</h1>
<img src={{leader.img}} alt="supreme leader">
<h2>{{leader.party}} Leader : {{leader.name}}</h2>
<br>
<h3>Members</h3>
{{#each members}}
  <p>{{name}}</p>
{{/each}}
<br>
<h3>Our Mission</h3>
<p>{{leader.mission}}</p>
<a class="nav" href="/">Home</a>
