   {{!-- <ul>
  {{#each users}}
  <li>{{name}} ({{email}})</li>
  {{/each}}
</ul> --}}
{{!-- <img src="/images/IconG.png" alt="staricon" class="img-pic"> --}}
<h1>{{partytitle}}party title</h1>
<h2>{{partyleader}} party leader</h2>
<img src="/images/hooded1.jpeg"{{leaderimage}} alt="leaderimage">
<br>
<h2>{{partymembers}}party members</h2>
<ul>
  {{#each users}}
  <li>{{name}} ({{email}})</li>
  {{/each}}
</ul>
<a class="nav" href="/">Home</a>

